.header{
   height: 32vw;
   margin:  30px auto;
   background: url('../../../public/homepage_img.jpeg') no-repeat;
   background-size:cover;
   position: relative;
   width: 96%;
   border-radius: 20px;
   height: 45vw;
   display: flex;
   justify-content: center;
   align-items: center;


}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    /* max-width: 40%; */
    bottom: 10%;
    animation:fadeIn 3s ;
}

.header-content h1{
    font-weight: 500;
    color: black;
    font-size: max(4.5vw, 22px);
    line-height: 1;
    text-align: center;
}

.header-content p{
    font-size: 1vw;
    color: black;
    
    
   
   
}
.header-content .homepage-button{
    font-size: max(1vw, 15px);
    padding: 1vw 2vw;
    font-weight: 400;
    border: none;
     
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid black; 
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}



.header-content .homepage-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black; 
}
