@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@300;600;700&family=Mulish:wght@700;800;900&family=Nunito+Sans:wght@800&family=Raleway:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


 *{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: DM Sans;
 }
 body{
  min-height: 100vh;
 }
 a{
  text-decoration: none;
  color:inherit;
 }
 .app{
  width: 80%;
  margin: auto;
 }

 